<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <h1>Food Hotspot Tracking</h1>
        </div>
    </header>
    <main>
        <h1>This is a the World Food Programme food hotspot tracking project.</h1>
    </main>
    <footer>
        <div class="wrapper">
            Built at Hack the Change 2014 by Max McCarthy, Yoni Nachmany, and Ben Sandler.
        </div>
    </footer>
</body>

</html>