<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <script>
        // Adding 500 Data Points
        var map, pointarray, heatmap;

        var tweetGeoData = [
            {% for i in data %}
                new google.maps.LatLng({{ i[0] }}, {{ i[1] }}),
            {% endfor %}
        ];

        function initialize() {
            var mapOptions = {
                zoom: 6,
                center: new google.maps.LatLng(1, 38), // middle of Kenya
                mapTypeId: google.maps.MapTypeId.MAP
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var pointArray = new google.maps.MVCArray(tweetGeoData);

            heatmap = new google.maps.visualization.HeatmapLayer({
                data: pointArray
            });

            heatmap.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
    <header>
        <div class="wrapper">
            <h1>Food Hotspot Tracking that should work</h1>
        </div>
    </header>
    <div id="map-canvas"></div>
    <main>
        {% for id in html_list %}
        {{ id|safe }}
        {% endfor %}
    </main>
    <footer>
        <div class="wrapper">
            Built at Hack the Change 2014 by Max McCarthy, Yoni Nachmany, and Ben Sandler.
        </div>
    </footer>
</body>

</html>