<blockquote class="twitter-tweet"><p>New Chef&#39;s Special …. you better get hungry!!! <a href="http://t.co/KIzsyTy5qe">http://t.co/KIzsyTy5qe</a></p>&mdash; QUE PASA (@Quepasakaren) <a href="https://twitter.com/Quepasakaren/status/523337696731598848">October 18, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>Im hungry</p>&mdash; Donavon McLeod (@DonM_45) <a href="https://twitter.com/DonM_45/status/523324575782674433">October 18, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>Am going for a mashujaa holiday.and am not power hungry yes.am passing my powers aka authority to my wife... <a href="http://t.co/fVRL8Xhdzg">http://t.co/fVRL8Xhdzg</a></p>&mdash; Edwin Waithaka (@eddywaithaka) <a href="https://twitter.com/eddywaithaka/status/523318814826852352">October 18, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>Awww..  Come share RT <a href="https://twitter.com/ZKansiime">@ZKansiime</a>: Hungry... <a href="http://t.co/oGvb83ZXn4">pic.twitter.com/oGvb83ZXn4</a></p>&mdash; Patoranking  (@pyepar) <a href="https://twitter.com/pyepar/status/523289401661878272">October 18, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>Hungry...</p>&mdash; KANSIIME waNgo... (@ZKansiime) <a href="https://twitter.com/ZKansiime/status/523288815608557568">October 18, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>So hungry but don&#39;t want to go out my bed</p>&mdash; Godigodi (@MadeKitoko) <a href="https://twitter.com/MadeKitoko/status/523275749667524608">October 18, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>Share your food with the hungry.</p>&mdash; BOSS  (@mubyXainawa) <a href="https://twitter.com/mubyXainawa/status/523266451399254017">October 18, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>Share your food with the hungry.</p>&mdash; BOSS  (@mubyXainawa) <a href="https://twitter.com/mubyXainawa/status/523266451399254017">October 18, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>Right Now, Someone is Going Hungry - Right now, as the world is battling Ebola, terrorism and protests in Hong Kon... <a href="http://t.co/VHxSZFtwCx">http://t.co/VHxSZFtwCx</a></p>&mdash; Randy Coutts (@bankerwoborders) <a href="https://twitter.com/bankerwoborders/status/523264524615708673">October 18, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p><a href="https://twitter.com/malaba_sheila">@malaba_sheila</a> lol am more sleepy than hungry so I&#39;ll pass.</p>&mdash; Asy Nkanata (@Elsykesh) <a href="https://twitter.com/Elsykesh/status/523254537076080642">October 17, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>High, horny and hungry. Not the best way to start the weekend!</p>&mdash; Daniel Sesi (@Battousei) <a href="https://twitter.com/Battousei/status/523242192265961472">October 17, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>Linus Gitahi: the poor can not sleep because they are hungry and the rich can not sleep because the poor are awake</p>&mdash; Duncan Ndegwa EN (@Dukeofhardknock) <a href="https://twitter.com/Dukeofhardknock/status/523219355593482241">October 17, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>its been real with <a href="https://twitter.com/antoneosoul">@antoneosoul</a> <a href="https://twitter.com/CiruMuriuki">@CiruMuriuki</a> at <a href="https://twitter.com/NationFMKe">@nationfmke</a>  at the <a href="https://twitter.com/hashtag/nationlatenight?src=hash">#nationlatenight</a> ...  &#10;really hungry now..  :(</p>&mdash; #AfricaDanceParty (@iamKarenju_) <a href="https://twitter.com/iamKarenju_/status/523214190303907840">October 17, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p><a href="https://twitter.com/hashtag/SomeoneTellPatRobertson?src=hash">#SomeoneTellPatRobertson</a> he has to feed all hungry Pple in Kenya to be forgiven...</p>&mdash; FRANCIS SUKE (@SukeFrancis) <a href="https://twitter.com/SukeFrancis/status/523212431846539264">October 17, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
            <blockquote class="twitter-tweet"><p>SHOCKING PHOTOS: Rispah Faith caught in the act with two a55 Hungry men at Skylux - <a href="http://t.co/4uq74dxQAQ">http://t.co/4uq74dxQAQ</a> <a href="http://t.co/aMZ6Stp8YH">http://t.co/aMZ6Stp8YH</a></p>&mdash; Kama Kawa (@Pat17Insekta) <a href="https://twitter.com/Pat17Insekta/status/523211472986308608">October 17, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>